<h2><%= @console.name %></h2>
<li><%= @console.description%></li>
<li><%= @console.release_date%></li>
<h3><%= @console.id ? "Here's your console!" : "You don't have this console yet." %></h3>

<!-THIS WILL ALLOW YOU TO CHOOSE A CONSOLE A USER OWNS->
<form action="/consoles/<%=@console.id%>" method= "POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">

</form>
<a href="/consoles/<%=@console.id%>/edit"><button>Edit</button></a>
